@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1790061296110') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e601";
}

.icon-help:before {
  content: "\e608";
}

